.header {
    position: sticky;
    top: 0;
    z-index: 3;
}
.header .nav {
    margin-top: 5px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.header .nav .rightNav {
    display: flex;
}
.header .nav .rightNav img {
    margin-right: 20px;
    height: 45px;
}
.header .nav .rightNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav .rightNav ul li {
    list-style: none;
    margin-right: 25px;
}
.header .nav .rightNav ul li a {
    transition: all 0.15s ease-in-out;
}
.header .nav .rightNav ul li a:hover {
    color: #40e0d0;
}
.header .nav .leftNav>a {
    border-radius: 24px;
    display: inline-block;
    border: 5px solid #ffff00;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}
.header .nav .leftNav {
    margin-left: 20px;
}
.header .nav .leftNav>a:hover {
    background-color: #ffff00;
    color: #fff;
}

.dropdownItem {
    z-index: 2;
}
#profile {
    border-radius: 24px;
    display: inline-block;
    border: 5px solid #ff0;
    padding: 10px 20px;
    margin-left: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    transition: all 0.15s ease-in-out;
}
#profile:hover {
    background-color: #ff0;
    color: #fff;
}

.dropdownMenu {
    width: 200px;
    margin-left: 20px;
}

.dropdownItem {
    display: none;
    position: absolute;
    border-radius: 0 0 15px 15px;
    background-color: #bbb;
    width: 200px;
    text-align: center;
}
.dropdownMenu:hover .dropdownItem {
    display: block;
}
.dropdownMenu:hover {
    background-color: #bbb;
    border-radius: 24px 24px 0 0;
}
.dropdownItem li{
    list-style: none;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.dropdownItem li:hover {
    background-color: #ccc;
}
.dropdownMenu:hover #profile {
    background-color: #ff0;
    color: #fff;
}

.dropdownItem {
    padding: 10px 0 20px 0;
}
