.header {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.header .nav {
    margin-top: 5px;
    flex: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.header .nav .menu {
    display: flex;
}
.header img {
    margin-right: 20px;
    height: 45px;
    flex: 1;
}
.header .nav .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav .menu ul li {
    list-style: none;
    margin-right: 25px;
}
.header .nav .menu ul li a {
    transition: all 0.15s ease-in-out;
    color: #000;
}
.header .nav .menu ul li a:hover {
    color: #40e0d0;
}
.header .nav .leftNav .loginBtn > a {
    border-radius: 24px;
    display: inline-block;
    border: 2px solid #ffff00;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}
.header .nav .leftNav {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.header .nav .leftNav .loginBtn > a:hover {
    background-color: #ffff00;
    color: #fff;
}

.dropdownItem {
    z-index: 2;
}
#profile {
    border-radius: 24px;
    display: inline-block;
    border: 2px solid #ff0;
    padding: 10px 20px;
    margin-left: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    transition: all 0.15s ease-in-out;
}
#profile:hover {
    background-color: #ff0;
    color: #fff;
}

.dropdownMenu {
    width: 200px;
    margin-left: 20px;
}

.dropdownItem {
    display: none;
    position: absolute;
    border-radius: 0 0 15px 15px;
    background-color: #bbb;
    width: 200px;
    text-align: center;
}
.dropdownMenu:hover .dropdownItem {
    display: block;
}
.dropdownMenu:hover {
    background-color: #bbb;
    border-radius: 24px 24px 0 0;
}
.dropdownItem li {
    list-style: none;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.dropdownItem li:hover {
    background-color: #ccc;
}
.dropdownMenu:hover #profile {
    background-color: #ff0;
    color: #fff;
}

.dropdownItem {
    padding: 10px 0 20px 0;
}
.hamburgerMenu {
    display: none;
    position: absolute;
    top: 5px;
    right: 0;
    width: 50%;
    height: 100%;
}
.hamburgerMenu button{
    height: 65px;
    width: 65px;
    background-color: transparent;
    border: none;
}
.hamburgerMenu button i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.hamburgerMenu button i:hover{
    color: #aaa;
}
.hamburger {
    background-color: #fff;
    display: none;
}

.hamburger a {
    display: block;
    color: #000;
    padding: 20px 50px;
    transition: 0.3s ease-in;
    border-bottom: 1px solid #aaa;
}

@media only screen and (max-width: 768px){
    .hamburgerMenu{
        display: block;
    }
    .header .nav .menu ul{
        display: none;
    }
    .loginBtn {
        display: none;
    }
    .header img{
        margin-right: 85px;
    }
    .hamburger a:hover{
        background-color: #aaa;
    }

}
/* @media only screen and (min-width: 505px){
    .container{
        grid-template-columns: repeat(2, auto);
        gap: 5px;
    }
    
}
@media only screen and (min-width: 768px){
    .container{
        grid-template-columns: repeat(3, auto);
    }
}
@media only screen and (min-width: 1020px){
    .container{
        grid-template-columns: repeat(4, auto);
    }
}
@media only screen and (min-width: 1200px){
    .container{
        grid-template-columns: auto auto auto auto;
        gap: 15px;

    }
} */
